.onBoarding {
  width: 550px;
  font-family: sans-serif;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.onBoarding .Btns button {
  border: 1px solid #04175a;
  color: #04175a;
  background-color: transparent;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  width: 110px;
}

.onBoarding .Btn button {
  background-color: #f48207;
}

.welcome-card {
  background-color: #04175a;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px #554f4f;
  line-height: 2;
}

.welcome-card span {
  color: #f48207;
}

.Btns {
  justify-content: space-between;
  display: flex;
  padding: 20px 10px 15px;
}

.create-project {
  box-shadow: #32325d40 0px 2px 5px -1px,
    #0000004d 0px 1px 3px -1px;
  padding: 20px 0 0 0;
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  color: #04175a;
}

.create-project input {
  width: 90%;
  font-size: 12px;
  outline: none;
  border: 1px solid #0e0e0e25;
}

.create-project button {
  /* display: flex; */
  margin: auto;
  background-color: #04175a;
  color: #fff;
  width: 97%;
  padding: 10px 0;
  border: none;
  transition: 0.3s ease-in-out;
}

.create-project button:hover {
  cursor: pointer;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createH2,
.createP {
  /* margin: 5px 0 15px; */
  text-align: center;
}

.projectCard,
label {
  margin-left: 15px;
}

#projectname {
  margin-top: 5px;
  width: 90%;
}

.projectField {
  display: flex;
  align-items: center;
}

#projectdesc {
  align-self: center;
  margin: 10px 0 5px 9px;
  border: 1px solid #0e0e0e25;
  width: 90%;
  height: 60px;
}

.projectBtns {
  width: 100%;
}

.create-task {
  color: white;
  background-color: #04175a;
  text-align: center;
  padding: 20px;
}

.create-task p {
  width: 75%;
  margin: 20px auto;
}

#taskinput,
#taskfield {
  width: 50%;
  border: 1px solid #80808063;
  background-color: #04175a;
  /* margin: 15px auto; */
  color: white;
}

#taskfield {
width: 70%;
}

.createtaskErr {
  color: #ff3232;
}

.addtaskBtn {
  padding: 9px 14px 7px;
  border: none;
  font-size: smaller;
  background-color: #f48207;
  color: white;
  cursor: pointer;
}

.invitation {
  padding: 20px;
  color: #04175a;
  box-shadow: 1px 1px 1px 1px #0f0f1152;
  text-align: center;
}

#invitemember {
  margin-top: 25px;
  padding: 5px 13px;
  border: 1px solid #80808063;
}

.inviteBtn {
  border: none;
  font-size: smaller;
  padding: 5px 5px;
  background-color: #04175a;
  color: white;
  cursor: pointer;
}

.congratulation {
  color: white;
  background-color: #04175a;
  padding: 25px;
  text-align: center;
}

.congratP {
  margin: 20px auto;
}

.form-input {
  font-size: 1.25rem;
  padding: 0.3rem;
  margin: 10px;
}

.onboard-project-btn {
  width: 100%;
  margin: 1rem auto;
}

@media screen and (max-width: 768px) {
  .onBoarding {
    width: 90%;
  }
}
