@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.article2 {
  padding: 50px 0;
  background-color: #04175A;
  display: flex;
  color: white;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.art2ImgDiv,
.art2Text {
  width: 44%;
}

.art2ImgDiv {
  text-align: center;
  margin-right: 10px;
}

.art2Text h4 {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto 20px;
  font-weight: 700;
  font-family: cursive;
}

.art2Text ul {
  list-style-type: none;
  counter-reset: li-counter;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.art2Text ul li {
  margin: 0.7em;
  padding: 10px 10px 10px 35px;
  z-index: 0;
  width: 20vw;
  text-align: center;
  background-color: #04175A;
  border-radius: 25px;
  box-shadow: 1px 1px 2px #f48207;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.art2Text li:hover {
  transform: translateX(-30px);
}

.art2Text ul li:before {
  position: absolute;
  top: -0.3em;
  left: -0.5em;
  width: 1.8em;
  height: 1.2em;
  font-size: 1.7em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #77cde9ba;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  /* z-index: 0; */
  overflow: hidden;
  content: counter(li-counter);
  counter-increment: li-counter;
}

@media screen and (max-width: 768px) {
  .art2ImgDiv {
    display: none;
  }

  .article2 {
    padding: 20px 0;
    background-color: white;
  }

  .art2Text {
    width: 95%;
  }

  .art2Text h4 {
    color: #04175A;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
  }

  .art2Text ul {
    font-size: 14px;
  }

  .art2Text ul li {
    box-shadow: 2px 2px 2px #f48207;
    cursor: auto;
    transition: none;
    width: 70%;
  }

  .art2Text li:hover {
    transform: none;
  }
}