@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.article2 {
  padding: 60px;
  background-color: #04175A;
  display: flex;
  color: white;
  margin: 50px auto;
  align-items: center;
  justify-content: space-evenly;

}

.art2Text {
  width: 22%;
  /* margin: 0 5% 0 25%; */
}

.art2Img {
  width: 600px;
  /* margin: 0 5% 0 35%; */
}

.art2Text h4 {
  color: white;
  font-size: 3.8em;
  font-weight: 700;
  font-family: cursive;
  margin-bottom: 20px;
}

.art2Text ul {
  list-style-type: none;
  counter-reset: li-counter;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.art2Text ul li {
  margin: 0.7em;
  padding: 0.5em;
  z-index: 0;
  /* position: sticky; */
  background-color: #04175A;
  border-radius: 25px;
  box-shadow: 1px 1px 2px orange;
  padding-left: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.art2Text li:hover {
  transform: translateX(-25px);
}

.art2Text ul li:before {
  position: absolute;
  top: -0.3em;
  left: -0.5em;
  width: 1.8em;
  height: 1.2em;
  font-size: 1.7em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #add8e6b1;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  /* z-index: 0; */
  overflow: hidden;
  content: counter(li-counter);
  counter-increment: li-counter;
}

@media screen and (max-width: 768px) {
  .art2Img {
    display: none;
  }

  .article2 {
    padding: 10px;
    background-color: white;
    /* margin-top: 0; */
  }

  .art2Text {
    width: 88%;
  }

  .art2Text h4 {
    color: #04175A;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
  }
  
  .art2Text ul {
    font-size: 14px;
  }
  
  .art2Text ul li {
    box-shadow: 3px 3px 2px orange;
    cursor: auto;
    transition: none;
  }
  
  .art2Text li:hover {
    transform: none;
  }
}