.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding: 2px;
}

.popup-form textarea {
  outline: none;
  padding: 5px;
  border: 1px solid #d9d9d9;

  height: 100px;
  font-size: 12px;
}

.popup-form input {
  outline: none;
  border: 1px solid #d9d9d9;
  font-size: 0.8rem;
  padding: 5px;
}

.popup-form button {
  background-color: #1b34b5;
  color: #fff;
  border: none;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
  border-radius: 0.4rem;
}

.popup-form button:hover {
  cursor: pointer;
}

