@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.article1 {
  margin: 80px auto;
  border: 1px solid #6c666637;
  align-items: center;
  text-align: center;
  width: 86%;
}

.art1Table {
  line-height: 2;
  margin: 2px 0 50px;
  width: 200px;
  margin: auto;
}

.tab1 {
  margin-right: 40px;
  text-decoration: underline 3px solid #1740d7;
}

.head2 {
  font-size: 34px;
  font-family: serif;
  font-weight: 700;
  margin: 25px auto 60px;
  width: 65%;
  color: #04175A;
}

.img2 {
  width: 90%;
  zoom: 0.9;
}

@media screen and (max-width: 768px) {
  .article1 {
    background-color: #04175A;
    color: white;
    margin: 40px auto;
    padding: 50px 0;
    border: none;
    width: 100%;
  }

  .head2 {
    font-size: 1rem;
    width: 80%;
    font-family: serif;
    font-weight: 700;
    margin: 25px auto 60px;
    color: white;
  }

  .img2 {
    width: 98%;
  }
}