@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");

.sideNav {
  width: 210px;
  background-color: #fff;
  /* height: 90vh; */
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 8px;
  /* overflow-x: hidden; */
  min-height: 100vh;
  bottom: 0;
  /* position: relative; */
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title-icon {
  /* font-weight: bold; */
  font-size: 20px;
  color: #1b34b5;
}

.title h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
}

.project,
.members,
.collaboProjects {
  min-height: 189px;
  margin-bottom: 20px;
}

.project-list {
  margin-top: 10px;
}

.project-list,
.members-list,
.collaboProject-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d9d9d9;
  gap: 20px;
  margin-bottom: 10px;
  padding-left: 2px;
  height: 30px;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
  color: rgb(42, 41, 41);
  /* font-weight: 300; */
  font-size: 12px;
}

.project-list:hover,
.collaboProject-list:hover {
  cursor: pointer;
  background-color: #1b34b5;
  color: #fff;
}

.project-list:active {
  background-color: #1b34b5;
  color: #fff;
}

.project-list p {
  width: 100%;
  overflow: hidden;
  word-wrap: normal;
  text-overflow: unset;
}

.members {
  color: rgb(42, 41, 41);
}

.members-list {
  border: none;
  transition: 0.3s ease-in-out;
  border-radius: 0%;
}

.member-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.member-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.members-list:hover {
  cursor: pointer;
  border-left: 15px solid #1b34b5;
  background-color: #f1f1f1;
}

.addProjectBtn {
  margin-bottom: 10px;
  display: flex;
  /* background-color: #1b34b5; */
  justify-content: center;
  position: relative;
}

.addProjectBtn:hover {
  cursor: pointer;
}

.action-icon {
  color: #fff;
  font-size: 20px;
}

/*  add project popup styles */

.add-project-popup {
  position: absolute;
  left: 30px;
  z-index: 5;
}

.add-project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.add-project-form textarea {
  outline: none;
  padding: 5px;
  border: 1px solid #d9d9d9;

  height: 100px;
  font-size: 12px;
}

.add-project-form input {
  outline: none;
  border: 1px solid #d9d9d9;
  font-size: 10px;
  padding: 2px;
}

.add-project-form button {
  background-color: #242525;
  color: #fff;
  border: none;
  padding: 2px;
}

.addProjectForm {
  /* background-color: red; */
  display: flex;
  gap: 30;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

.addProjectForm input {
  outline: none;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  padding: 5px;
}

.addProjectForm textarea {
  border: 1px solid #1b34b5;
  /* background-color: green; */
  width: 100%;
}

.addTextArea {
  width: 100%;
  border: 1px solid #1b34b5;
  outline: none;
  font-size: 1rem;
}

.addProjectForm button {
  width: 100%;
  background-color: #1b34b5;
  padding: 2px;
  border: none;
  color: #fff;
}
