.dashboard {
  background-color: #f3f2f0;
  height: fit-content;
}

.workSpace {
  /* padding: 0 2%; */
  /* display: flex;
  width: 100%;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: 228px 80vw;
  /* gap: 10px; */
}

.dashNav {
  position: sticky;
  padding: 0 2%;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: auto;
  height: 100%;
}
