.dashboard {
  background-color: #f3f2f0;
  height: fit-content;
  width: 100%;
}

.workSpace {
  /* padding: 0 2%; */
  /* display: flex;
  */
  width: 100%;
  /* justify-content: space-between;  */

  height: 100vh;

  display: grid;
  grid-template-columns: 228px auto;
  /* gap: 10px; */
}

.dashNav {
  position: sticky;
  padding: 0 2%;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: auto;
  height: 100%;
}

/* .member-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
} */

.profile {
  margin: 0.5rem 1rem;
}

.actions .edit {
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin: 0 0 0 10px;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.profileDetai {
  display: flex;
  flex-direction: column;
}

.profileDetai span {
  font-family: poppins, sans-serif;
  font-size: 12px;
}
