.NavIterms {
  height: 100%;
  margin: 1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: poppins;
  position: relative;
}

.NavIterms form {
  height: 30px;
  margin: auto 0;
}

.NavIterms input {
  height: 20px;
  width: 15rem;
  padding: 2px;
  border: 1px solid #b8bec7;
  outline: none;
}

.NavIterms input:hover {
  border: 1px solid #1b34b5;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button span .icon-button__badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background-color: #ccc;
}

.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: 3px 3px 5px #000;
    -moz-box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;
    -webkit-backface-visibility: hidden;
  }
}

.profile-avatar:hover {
  -webkit-transition: width 2000ms ease-in-out;
  -moz-transition: width 2000ms ease-in-out;
  -ms-transition: width 2000ms ease-in-out;
  -o-transition: width 2000ms ease-in-out;
  transition: width 2000ms ease-in-out;
}

.userProfile {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 5;
  background-color: red;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile img {
  height: 40%;
  width: 40%;
  object-fit: fill;
}

.logout {
  border: 1px solid #1b34b5;
  width: 50%;
  padding: 0 20px;
  border-radius: 2px;
  margin: 5px 0;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* ****************Tippy components styles***************** */
.tippy {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #000;
}

/* *******notification section****** */
.notifications {
  width: 20vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
}

.updateCards {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notification-card {
  border: 1px solid #d3d3d3d3;
  padding: 2px;
}

.notifications p {
  font-size: 12px;
  color: #4f4e4e;
}

.notiBTN {
  display: flex;
  gap: 5px;
}

.notiBTN:nth-child(1) {
  color: #1b34b5;
}

.notiBTN button {
  /* border: 1px solid gray;
  border-radius: 20px; */
  background-color: transparent;
  border: none;
  padding: 2px 5px;
  transition: 0.3s ease-in-out;
}

.notiBTN button:hover {
  cursor: pointer;
  color: #1b34b5;
}

.accept {
  color: #1b34b5;
}

.decline {
  color: rgb(207, 109, 73);
}

.noti-header {
  display: flex;
  justify-content: space-between;
}

.noti-header h3 {
  font-size: 12px;
  color: #555555;
}
