@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.forgottenForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  border: 1px solid #04175a46;
  ;
}

.logoImg {
  width: 60px;
  margin-left: 40%;
  margin-bottom: 20px;
}

.forgottenTxt {
  color: #051c72;
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}

.forgottenlabel {
  font-size: 14px;
  margin: 0;
  color: #737373;
}

.inputIconGrp {
  display: flex;
  width: 95%;
  background-color: #d3d3d360;
  margin: 0 0 50px;
  padding: 3px 10px;
}

.inputIcon {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3px 15px 0 0;
  font-size: 20px;
}

.forgottenInput {
  border: none;
  background-color: #ebe9e960;
  padding: 2px;
  width: 100%;
  font-size: 16px;
}

.forgottenBtn {
  padding: 6px 25px;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #04175A;
  width: 150px;
  color: #04175A;
  margin-left: 30%;
  cursor: pointer;
}

.errorMsg,
.successMsg {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: small;
}

@media screen and (max-width: 768px) {
  .forgottenForm {
    width: 80%;
  }

  .forgottenBtn {
    width: 200px;
    margin-left: 20%;
  }

}