.forgottenForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  width: 400px;
  padding: 30px;
  border: 1px solid #04175a46;;
}

.logoImg {
  width: 60px;
  margin-left: 40%;
}

.forgottenTxt {
  color: #04175A;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-family: cursive;
  margin-bottom: 20px;
}

.forgottenlabel {
  font-size: 12px;
  margin: 0;
  color: #737373;
}

.inputIconGrp {
  display: flex;
  width: 75%;
  background-color: #d3d3d360;
  margin: 0 0 50px;
  padding: 3px 10px;
}

.inputIcon {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3px 15px 0 0;
  font-size: 20px;
}

.forgottenInput {
  border: none;
  background-color: #ebe9e960;
  padding: 2px;
  width: 100%;
  font-size: 16px;
}

.forgottenBtn {
  padding: 6px 25px;
  border-radius: 15px;
  border: 1px solid #04175A;
  width: 125px;
  color: #04175A;
  margin-left: 33%;
  cursor: pointer;
}

.errorMsg,
.successMsg {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: small;
}