.dashBoardNav {
  background-color: #fff;
  padding: 3px 5px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  position: static;
  width: 99%;
  background-color: #0c66e4;
}

.favicon {
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.right-iterms {
  margin-top: 15px;
  display: flex;
  height: fit-content;
  align-items: center;
  margin: auto 0;
  padding-right: 8px;
}
