.footercontainer {
  background-color: #534e4e45;
  padding: 20px;
  text-align: center;
  color: black;
}

.footerIcons {
  border-bottom: 1px solid #ffffff4d;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.head4 {
  font-size: 1.5rem;
  padding-bottom: 5px;
  /* color: #f48207da; */
}

.icon {
  padding: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.icon:hover {
  transform: scale(2);
}

.footer-divs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  border-bottom: 1px solid #ffffff4d;
  padding-bottom: 40px;
  line-height: 2.5;
}

.div {
  width: 20%;
}

.div h4 {
  font-size: 22px;
}

.letstalkPar {
  line-height: 1.5;
  margin: 0 0 15px 10px;
}

.copyrightfooter {
  padding-bottom: 20px;
}

.copyrightfooter span {
  color: blue;
  font-size: 14px;
}

.inputlabel {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 600;
}

.inputfield {
  color: #fff;
  font-size: 1rem;
  border-style: none;
  outline: none;
  width: 75%;
  margin-left: 30px;
  padding: 0.8em 1em;
  border: 2px solid transparent;
  background-image: linear-gradient(#000000b4, #000),
    linear-gradient(120deg, #0000ffac 0%, #80808085 30%, #ffa600d3 50%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
}

@media screen and (max-width: 768px) {
  .footercontainer {
    background-color: black;
    padding: 10px;
    color: white;
  }

  .head4 {
    font-size: 1.3rem;
  }

  .footer-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div {
    width: 98%;
  }

  .div h4 {
    font-size: 26px;
    color: blue;
  }

  .letstalkPar {
    margin: 4px 0 20px;
    font-size: 20px;
  }

  .div2,
  .div3,
  .div4 {
    display: none;
  }
}