@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.verifyForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 25px 15px 15px;
  border: 1px solid #04175a46;
  ;
  text-align: center;
}

.logoImag {
  width: 70px;
  margin-bottom: 15px;
}

.verifyTxt {
  color: #071e72;
  text-align: center;
  font-weight: 400;
  font-size: 38px;
	font-family: 'Lobster', cursive;

  margin-bottom: 15px;
}

.verifyLabel {
  font-size: 16px;
  text-align: center;
  margin: 0 auto 20px;
  width: 80%;
  color: #737373;

}

.verifyInput {
  letter-spacing: 22px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  width: 160px;
  color: #04175A;
  border: 0;
  outline: 0;
  text-align: center;
}

.verifyBtn {
  padding: 8px 25px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #04175A;
  width: 50%;
  color: #04175A;
	font-weight: 600;
  cursor: pointer;
  margin: 40px 0 15px;
}

.errorMsg {
  color: red;
  margin: 10px 0 30px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .verifyForm {
    width: 86%;
  }
}