.navContainer {
  border-bottom: 1px solid #b8bec7;
  background-color: white;
  /* position: fixed; */
  max-width: 100%;
  /* z-index: 9990-[]; */
}

.navbar {
  display: flex;
  height: 9vh;
  justify-content: space-between;
  margin: 0 6%;
}

.logo {
  height: 7vh;
  width: 15vw;
  margin: auto 0;
}

@media screen and (max-width: 768px) {

  .logo {
    height: 6vh;
    width: 33vw;
  }
}
