.navContainer {
  border-bottom: 1px solid #b8bec7;
  background-color: white;
  position: sticky;
  width: 100%;
}

.navbar {
  display: flex;
  height: 78px;
  justify-content: space-between;
  margin: 0 5%;
}

.logo {
  height: 60px;
  width: 200px;
  margin: auto 0;
}
