@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.header {
  /* font-family: 'Lobster', cursive; */
  display: flex;
  margin: auto;
  color: white;
  background-color: #04175A;
  /* background-color: #0433dd; */
  padding: 50px 140px;
  justify-content: space-between;
  /* height: 70vh; */
}

.head1 {
  font-family: serif;
  width: 53rem;
  font-size: 3.7rem;
  margin: 55px 0;
}

.par {
  /* font-family: cursive; */
  width: 45rem;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 70px;
}

.img1 {
  width: 740px;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column !important;
    display: flex !important;
    text-align: center;
    color: #04175A;
    background-color: white;
    padding: 50px;
  }

  .head1 {
    margin: auto auto 55px;
    width: 50rem;
    font-size: 3.5rem;
  }
  
  .par {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 60px;
  }
  
  .img1 {
    display: none;
  }
}
