@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.header {
  /* font-family: 'Lobster', cursive; */
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #04175A;
  height: 78vh;
}

.HeaderTxt {
  margin: 0 0 35px 150px;
}

.HeaderTxt,
.HeaderImg {
  width: 45%;
}

.head1 {
  font-family: serif;
  width: 97%;
  font-size: 3.5rem;
  margin: 50px 0;
}

.par {
  /* font-family: cursive; */
  width: 80%;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}

.img1 {
  width: 80%;
  /* height: 60vh; */
  object-fit: contain;
  margin: 60px 0 0;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    display: flex;
    text-align: center;
    color: #04175A;
    background-color: white;
    padding: 10px;
    /* width: 100%; */
    height: 50vh;
  }

  .HeaderTxt {
    margin: 0;
    width: 78%;
  }

  .head1 {
    font-size: 1.8rem;
    margin: auto;
    /* width: 100%; */
  }
  
  .par {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px auto;
    /* width: 100%; */
  }
  
  .img1 {
    display: none;
  }
}
