@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.header {
  /* font-family: 'Lobster', cursive; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px 0;
  object-fit: contain;
  background-color: #04175A;
}

/* .HeaderTxt {
  margin: 0 0 35px 80px;
} */

.HeaderTxt,
.HeaderImg {
  width: 40%;
}

.head1 {
  font-family: serif;
  width: 100%;
  text-align: left;
  font-size: 50px;
  margin:  0 0 40px 0;
}

.par {
  width: 75%;
  text-align: left;
  font-size: 25px;
  font-weight: 300;
  margin: 50px 0;
}

.img1 {
  width: 100%;
  object-fit: contain;
  margin: 60px 0 0;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    color: #04175A;
    background-color: white;
    padding: 50px 0;
  }

  .HeaderTxt {
    margin: 0;
    width: 78%;
  }

  .head1 {
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
  }
  
  .par {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin: 30px auto;
    /* width: 100%; */
  }
  
  .img1 {
    display: none;
  }
}
