  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');

.resetForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border: 1px solid #04175a46;
  ;
  padding: 1.5% 4%;
}

.logoImg {
  width: 60px;
  margin-left: 40%;
  margin-bottom: 20px;
}

.resetTxt {
  color: #04175A;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  margin-bottom: 10px;
}

.resetP {
  font-size: 15px;
  text-align: center;
  margin: 0 auto 10px;
	width: 95%;
  color: #737373;
}

.flexme {
  display: flex;
  flex-direction: column;
}

.resetLabel {
  font-size: 15px;
  margin: 0;
  color: black;
  margin: 25px 0 8px;
}

.resetInput {
  border: none;
  background-color: #ebe9e9d6;
  padding: 8px;
  width: 97%;
  font-size: 16px;
}

.resetBtn {
  padding: 8px 25px;
  border-radius: 15px;
  border: 1px solid #04175A;
  width: 180px;
  color: #04175A;
  margin: 40px 0 10px 70px;
  cursor: pointer;
}
