.allForm {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.formBody {
  width: 90%;
  display: flex;
  margin: 1% 5%;
  background-color: #413e3e0a;
}

.signupImg {
  background: linear-gradient(#0101b3f3, #0101b3f0), url("../../assets/signupImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.signImgTxt,
.logbtn {
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logbtn {
  background-color: transparent;
  border: 1px solid #ffffffb5;
  padding: 8px 35px;
  font-size: smaller;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}

.signupForm {
  width:50%;
  padding: 30px 0 30px 0;
}

.signupform-h2 {
  font-size: 2rem;
}

.signupform-p {
  font-size: 0.9rem;
  width: 70%;
  margin: 5px 0 20px;
  color: grey;
}

.formlabel {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
}

.forminput {
  width: 70%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.cred {
  text-align: left;
}

.message {
  color: red;
  font-size: 13px;
  width: 75%;
}

.signupButton,
.signupbtn {
  background-color: #0707a0;
  color: #fff;
  text-align: center;
  width: 72%;
  border: none;
  padding: 10px 20px;
  margin-right: 27%;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .signupImg {
    display: none;
  }

  .signupForm {
    width: 86%;
    margin: 0 0 0 9%;
  }

  .formBody {
    width: 94%;
    margin: auto;
  }

  .allForm {
    width: 98%;
  }
}
