.formBody {
  /* margin: 8% 10%; */
  display: flex;
  width: 70%;
  margin: 50px auto;
  /* background-color: red; */
  align-items: center;
  text-align: center;
  height: 70vh;
  /* background-color: #f2f2f2; */
}

.signupImg {
  position: relative;
  width: 50%;
  justify-content: right;
  height: 60vh;
  /* background-color: blue; */
}

.signupImg img {
  /* width: 100%;
  height: 100%; */
  /* position:relative;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.logbtn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.signupForm {
  width: 40%;
  margin: 0 10% 0 10%;
  padding: 50px;
  background-color: #fff;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
}

.signupform-h2,
.signupform-p {
  text-align: left;
  width: 80%;
  margin: auto;
}

.signupform-p {
  font-size: 12px;
  margin: 6px auto 20px;
  color: grey;
}

.formlabel {
  display: block;
  font-size: 18px;
  text-align: left;
  width: 50%;
  font-weight: bold;
  margin: 0 0 10px 50px;
}

.forminput {
  width: 73%;
  padding: 7px;
  font-size: 16px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.message {
  color: red;
  font-size: 12px;
  width: 70%;
  margin: auto;
}

.signupbtn {
  background-color: #000;
  color: #fff;
  width: 78%;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}