.allForm {
  position: relative;
}

.formBody {
  display: flex;
  text-align: center;
  width: 94%;
  padding: 20px 0;
  position: absolute;
  top: 625%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.signupImg {
  background: linear-gradient(#0101b3f3, #0101b3f0), url("../../assets/signupImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 77vh;
  width: 40%;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.signImgTxt,
.logbtn {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logbtn {
  background-color: transparent;
  border: 1px solid #ffffffb5;
  padding: 5px 25px;
  font-size: smaller;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}

.signupForm {
  width:42%;
  background-color: #413e3e0a;
}

.signupform-h2 {
  padding-top: 60px;
  font-size: 24px;
}

.signupform-p {
  font-size: 12px;
  margin: 5px auto 20px;
  color: grey;
}

.formlabel {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.forminput {
  width: 70%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.cred {
  justify-content: left;
  text-align: left;
}

.message {
  color: red;
  font-size: 13px;
  width: 75%;
  /* margin: auto; */

}

.signupButton,
.signupbtn {
  background-color: #0707a0;
  color: #fff;
  text-align: center;
  width: 72%;
  border: none;
  padding: 10px 20px;
  margin-right: 26%;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}