.rightNav {
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  z-index: 10;
}

#righttxtbtn {
  display: flex;
  flex-direction: row;
}

.rightNav,
ul,
.btn {
  display: flex;
}

ul li {
  list-style: none;
  padding: 5px 20px;
  position: relative;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  display: flex;
  color: black;
  cursor: pointer;
}

.reg,
.log {
  cursor: pointer;
  border: 0;
  font-size: 1.1em;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 8vw;
  padding: 8px 0;
  box-shadow: 0 0 2px #f48207d4;
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: #F48207;
}

.log {
  color: #F48207;
  background-color: #ffffff;
  border: 1px solid #F48207;
}

.reg:hover,
.log:hover {
  color: white;
  box-shadow: 0 0 10px #F48207;
  background-color: #F48207;
}

#mobile {
  display: none;
  position: fixed;
}

@media screen and (min-width: 2560px) {
  ul li a {
    font-size: 2rem;
  }

  .log,
  .reg {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #mobile {
    display: initial;
    position: absolute;
    right: 30px;
  }

  #bar {
    font-size: 2rem;
    color: #04175A;
  }

  #righttxtbtn {
    flex-direction: column;
    margin-top: 45vh;
    width: 50vw;
    max-width: 100%;
    padding: 10px 0 20px 40px;
    display: none;
    line-height: 2.5;
    background-color: #04175A;
    transition: 0.3s ease-in-out;
  }

  .righttxt ul {
    display: flex;
    flex-direction: column;
  }

  #righttxtbtn.active {
    display: initial;
  }

  ul li a {
    color: white;
    font-size: 1.2rem;
  }

  .btn {
    flex-direction: column;
    gap: 1rem;
  }

  .log,
  .reg {
    width: 35vw;
  }


}
