.bar-container {
  position: relative;
  display: flex;
}

.detialsBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 70px;
  padding-left: 10px;
  z-index: 1;
  /* position: relative; */
}

.addMemberBtn {
  display: flex;
  flex-direction: column;
  border: 1px solid #1b34b5;
  /* border-radius: 20px; */
  width: 130px;
  height: auto;
  margin: auto 0;
}

.progess-icon {
  background-color: #1b34b5;
  /* font-size: 30px; */
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.progress-section {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto 0;
}

.add-member-popup {
  position: absolute;
  top: 0;
  left: -300;
  font-size: 12px;
  z-index: 10;
}

.mgs {
  color: red;
  font-size: 13px;
  width: 100%;
  text-align: center;
}
