.bar-container {
  position: relative;
  display: flex;
}

.detialsBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 70px;
  padding: 10px 1.2rem;
  z-index: 1;
  /* position: relative; */
}

.actionDiv {
  display: flex;
  gap: 1.5rem;
  margin: 0 2rem 0 0;
}

.addMemberBtn {
  display: flex;
  flex-direction: column;
  border: 1px solid #1b34b5;
  border-radius: 8px;
  width: 130px;
  height: auto;
  margin: auto 0;
}

.progess-icon {
  background-color: #1b34b5;
  /* font-size: 30px; */
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.progress-section {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto 0;
}

.progress-section h3 {
  color: #1b34b5;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author span {
  font-size: 12px;
}
.add-member-popup {
  position: absolute;
  top: 0;
  left: -300;
  font-size: 12px;
  z-index: 10;
}

.mgs {
  color: red;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

.add-listp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 14px 8px;
  background-color: transparent;
  border: 1px solid #1b34b5;
  border-radius: 8px;
  color: #1b34b5;
  width: 100%;
  font-weight: 600;
  gap: 5px;
}

.add-list:hover {
  cursor: pointer;
}

.add-list:active {
  background-color: #0a144a;
}
